# Ignorar node_modules (será instalado dentro do contêiner)
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignorar arquivos de log
logs
*.log
*.log.*

# Ignorar variáveis de ambiente sensíveis
.env
.env.local
.env.development
.env.production
.env.test

# Ignorar cache e builds do Next.js
.next
out
.cache
build

# Ignorar arquivos de configuração e IDEs locais
.DS_Store
.vscode
.idea
*.swp

# Ignorar dependências do Docker
docker-compose.override.yml
Dockerfile
